body{
    
    background-image: url("https://wallpaperset.com/w/full/c/2/7/238830.jpg");
background-size: cover;
}


img{
   /* margin-left: 400px; */
    height: 120px;
    width: 120px;
    gap: 50px;
    cursor: pointer;
}
.Answer{
    display: flex;
   justify-content: center;
    /* margin-left: px;  */
    margin-bottom: 60px;
    margin-top: 20px;
    gap: 35px;
    border-radius: 12px;
    cursor: pointer;

}
button{
    font-size: xx-large;
    color: blueviolet;
    cursor: pointer;
}
.Qustion{
    display: flex;
   justify-content: center;
    font-size: 27px;
    border-radius: 25px;
    border: 5px solid #ad4221;
    background-color: antiquewhite;
    padding: 20px;
    width: 500px;
    height: 250;
    margin-top: 80px;
    margin-left: 490px;
    cursor: pointer;
   
    
}
.Answer:hover{
    /* width: 90px; */
    height: 150px;
color:  blueviolet;
    transition: width 2s;
    cursor: pointer;


} 

.next:hover{
    /* width: 90px; */
    height: 47px;
color: whitesmoke;
    transition: width 2s; 
    background-color: rgb(206, 72, 112);
    border-radius: 12px;
    cursor: pointer;

} 
 
.reuslt{
    display: flex;
    justify-content: center;
    /* margin-left: 400px; */
    margin-top: -10px;
    cursor: pointer;
}

.Start{
    margin-left: 680px;
    margin-top: -40px; 
    font-size:80px;
   background-color: gold;
   color:red;
   border-radius: 12px;
   border: 4px solid red;
   cursor: pointer;
}
.Start:hover{
    /* width: 90px; */
    height: 120px;
color: green;
    transition: width 2s; 
    border: 4px solid green;
    cursor: pointer;

} 
.next{
    display: flex;
    margin-top: -335px;
  margin-left: 1055px;
 /* size: 100px; */
    border-radius: 12px;
    cursor: pointer;
}
.nameQuiz{
    display: flex;
    justify-content: center;
    font-size: 120px;
    font-family: cursive;
    text-shadow: 10px 10px  8px hsl(0, 100%, 0%);
    cursor: pointer;
}
.again{
    display: flex;
    justify-content: center;
    margin-left: 300px;
    cursor: pointer;
    border-radius: 12px;
}
.again:hover{
    /* width: 90px; */
    height: 47px;
color: whitesmoke;
    transition: width 2s; 
    background-color: rgb(206, 72, 112);
    border-radius: 12px;
    cursor: pointer;

} 
.Animal{
    display: flex;
    justify-content: center;
    border-radius: 12px;
margin-left: 500px;
 cursor: pointer;
 background-color: rgb(55, 224, 66);
color: black;
}

.Animal:hover{
    /* width: 90px; */
    height: 47px;
color: whitesmoke;
    transition: width 2s; 
    background-color: rgb(55, 224, 66);
    border-radius: 12px;
    cursor: pointer;
    
    

} 

.Flag{
    display: flex;
    border-radius: 12px;
    margin-top: -40px;
    cursor: pointer;
margin-left: 930px;
background-color: rgb(55, 224, 66);
color: black;
}

.Flag:hover{
    /* width: 90px; */
    height: 47px;
color: whitesmoke;
    transition: width 2s; 
    background-color: rgb(55, 224, 66);
    border-radius: 12px;
    cursor: pointer;

} 

.nameQuiz{
    
    background-color: aliceblue;
   width: 550px;
margin-left: 500px;
opacity: 50px;

}
.m{
  display: flex;
  justify-content: center;
}
.a{
    height: 60px;
    width: 180px;
    font-size: 30px;
    color: blue;
}
.Name{
    font-size:40px;
    color: #c01212;
    margin-top: -100px;
    
    text-shadow: 5px 5px  8px rgb(240, 233, 233);
}
