body{
    
    background-image: url("https://wallpaperset.com/w/full/c/2/7/238830.jpg");
background-size: cover;
}

img{
   /* margin-left: 400px; */
    height: 120px;
    width: 120px;
    gap: 50px;
}
.Answer{
    display: flex;
   justify-content: center;
    /* margin-left: px;  */
    margin-bottom: 60px;
    margin-top: 20px;
    gap: 35px;
    border-radius: 12px;
    

}
button{
    font-size: xx-large;
    color: blueviolet;
}
.Qustion{
    display: flex;
   justify-content: center;
    font-size: 27px;
    border-radius: 25px;
    border: 5px solid #ad4221;
    background-color: antiquewhite;
    padding: 20px;
    width: 500px;
    height: 250;
    margin-top: 120px;
    margin-left: 490px;
   
    
}
.Answer:hover{
    /* width: 90px; */
    height: 150px;
color:  blueviolet;
    transition: width 2s; 

} 

.next:hover{
    /* width: 90px; */
    height: 50px;
color: whitesmoke;
    transition: width 2s; 
    background-color: rgb(206, 72, 112);
    border-radius: 25px;
} 
 
.reuslt{
    display: flex;
    justify-content: center;
    /* margin-left: 400px; */
    margin-top: -10px;
}

.Start{
    margin-left: 680px;
    margin-top: 60px;
    font-size:80px;
   background-color: gold;
   color:red;
   border-radius: 12px;
   border: 4px solid red;
}
.Start:hover{
    /* width: 90px; */
    height: 120px;
color: green;
    transition: width 2s; 
    border: 4px solid green;
} 
.next{
    display: flex;
    margin-top: -335px;
  margin-left: 1055px;
 
    border-radius: 12px;
}








